.appInputContainer {
  position: relative;
}
.errorMessage {
  position: absolute;
}
.appInput {
  margin-top: 16px;
  width: 100%;
  // align-self: ;
  background: var(--color-bg-primary);
  height: 50px;
  border: 2px solid transparent;
  outline: none;
  padding: 8px 35px 8px 16px;
  &:focus {
    border: 2px solid var(--color-accented);
  }
}
