@import url("./themes/dark.scss");
@import url("./themes/light.scss");
@import url("./variables.scss");
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
#root,
body,
.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  min-height: 100vh;
  width: 100%;
  min-width: 320px;

  background: var(--color-bg-primary);
  color: var(--color-text-primary);

  font: var(--font-s);
}
html {
  // overflow-y: scroll;
  // scrollbar-gutter: stable both-edges;
  scrollbar-gutter: stable;
}
