@use "./themes/dark.scss";
@use "./themes/light.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;

  background: rgb(19, 30, 43);
  color: #ccc;
  // background: var(--bg-color);
  // color: var(--bg-color-inverted);
}
main {
}
