:root {
  //Sizes
  --header-height: 80px;
  --footer-height: 60px;

  --max-width: 970px;
  --min-width: 320px;

  /* Transition */
  --transition-delay: 0.3s;

  /* Fonts */
  --font-family-main: "Inter", sans-serif;


   --font-size-s: 16px;
  --font-line-s: 1.2;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-xl: 32px;
  --font-line-xl: 1.2;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --font-size-h1: 48px;
  --font-line-h1: 1.2;
  --font-h1: var(--font-size-h1) / var(--font-line-h1) var(--font-family-main);
 
}
