.footer {
  height: var(--footer-height);
  background: var(--color-bg-secondary);
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
