.appNavLink {
  text-decoration: none;
  color: var(--color-text);
  font: var(--font-m);
  transition: color var(--transition-delay) linear;
  &:hover {
    transition: color var(--transition-delay) linear;
    color: var(--color-accented);
  }
  &.active {
    color: var(--color-accented);
  }
}
