.banner {
  background: var(--bg-color-secondary);
}
.imgContainer {
  content: "";
  width: 325px;
  height: 460px;
  background: darkgray;
}
.container {
  display: flex;
  align-items: center;
  gap: 30px;
}
