.projects {
  text-align: center;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.works {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.work {
  content: "";
  width: 310px;
  height: 300px;
  background: var(--bg-color-secondary);
}
