.stack {
  text-align: center;
  .iconList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px 24px;
    margin-top: 40px;
  }
  .iconList > * {
    justify-self: center;
  }
}
