.price {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .priceItem {
    // width: 310px;
    // height: 610px;
    background: var(--bg-color-secondary);
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
