.appTitle {
  text-transform: capitalize;
  color: var(--color-text-secondary);

  .accented {
    color: var(--color-accented);
  }

  &.h1 {
    font: var(--font-h1);
    font-style: Bold;
    font-weight: 700;
    padding: 10px 0;
  }

  &.h2 {
    font: var(--font-h1);
    font-style: Bold;
    font-weight: 700;
  }

  &.h3 {
    font: var(--font-xl);
    font-style: Bold;
    font-weight: 700;
  }
}
